.commonButton {
  width: 100%;
  border-radius: 9999px;
  border: 0;
  padding: 10px 35px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: bold;
}

.extraButton {
  width: fit-content;
  background-color: transparent;
  font-size: 15px;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: bold;
}

.commonButton:hover,
.extraButton:hover {
  transform: translateY(-2px);
}

.type1 {
  color: var(--Black);
  background-color: var(--Golden50);
}

.type1:hover {
  background-color: var(--Golden);
}

.type2 {
  color: var(--Golden);
  background-color: var(--Black20);
}

.type2:hover {
  background-color: var(--Black50);
}

.extraType1 {
  color: var(--Golden);
}

.extraType2 {
  text-decoration: underline;
  color: var(--Black);
}
