.loadingIndicator {
  margin: auto;
  width: 20px;
  height: 20px;
  border: 3px solid var(--White);
  border-radius: 50%;
  border-left-color: var(--Black);
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
