nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer a {
  width: 30%;
}

.logoContainer a img {
  width: 100%;
}

.navOptions {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10%;
}

.option {
  font-size: 15px;
  margin-left: 25px;
  transition: 0.3s;
  position: relative;
}

.option::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--Black);
  transition: 0.2s;
}

.option::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--Black);
  transition: 0.2s;
}

.option:hover {
  transform: translateY(-3px);
}

.option:hover::before,
.option:hover::after {
  width: 100%;
}

/* Large Screens */
@media (max-width: 1200px) {
  .logoContainer a {
    width: 35%;
  }
}

/* Medium Screens */
@media (max-width: 900px) {
  .logoContainer {
    width: 45%;
  }

  .logoContainer a {
    width: 40%;
  }

  .navOptions {
    width: 55%;
  }

  .option {
    margin-left: 20px;
  }
}

/* Small Screens */
@media (max-width: 650px) {
  .logoContainer {
    width: 30%;
  }

  .logoContainer a {
    width: 90%;
  }

  .navOptions {
    width: 70%;
    margin-right: 5%;
  }

  .option {
    font-size: 11px;
    margin-left: 10px;
  }
}
