.signupPage {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--LightGray);
}

.signupContainer {
  display: flex;
  width: 60%;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Black05);
  border-radius: 30px;
  padding: 70px;
  z-index: 10;
  backdrop-filter: blur(7px);
  box-shadow: 5px 5px 10px var(--Black50);
}

.signupForm {
}
