.signupPage {
  width: 100vw;
  overflow: hidden;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.signupContainer {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.goToLogin {
  margin-top: 10px;
  margin-bottom: 25px;
}

.goToLogin p {
  display: inline;
  padding-right: 5px;
}
